extends ../layout

block content
    h1 Lista de vendedores
    
    if error 
        p(class="error")= error
    if data
        ul
            each vendedor in data 
                li
                    a(href="/vendedor/"+vendedor.id_vendedor)
                        p="Nombre: "+ vendedor.nombre_vendedor 
                        P="Origen: "+ vendedor.origen_vendedor
                    a(href=`/vendedor/${vendedor.id_vendedor}/update`)
                        button Editar
                    form(action=`/vendedor/${vendedor.id_vendedor}/remove`, method="post") 
                        button(type="submit") Borrar
    a(href="/vendedor/new")
        button Nuevo